<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passport Authentication</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="" rel="stylesheet">
</head>

<body>

    <nav class="cyan lighten-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Card Collector</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p>Welcome <span class="member-name"></span></p>
            </div>
        </div>
    </div>
    <br>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                </div>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons"></i></a>
            <p>Welcome <span class="member-name"></span></p>
        </li>
        <div>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons"></i>Baseball Sets</div>
                    <div class="collapsible-body"><span>
                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons"></i>Bazooka</div>
                                    <div class="collapsible-body"><span>
                                            <ul>
                                                <li><a href="#" id="1959">1959</a></li>
                                                <li><a href="#" id="1960">1960</a></li>
                                                <li><a href="#" id="1961">1961</a></li>
                                                <li><a href="#" id="1962">1962</a></li>
                                                <li><a href="#" id="1963">1963</a></li>
                                                <li><a href="#" id="1964">1964</a></li>
                                                <li><a href="#" id="1965">1965</a></li>
                                                <li><a href="#" id="1966">1966</a></li>
                                                <li><a href="#" id="1967">1967</a></li>
                                                <li><a href="#" id="1968">1968</a></li>
                                                <li><a href="#" id="1971">1971</a></li>
                                                <li><a href="#" id="1988">1988</a></li>
                                                <li><a href="#" id="1989">1989</a></li>
                                                <li><a href="#" id="1990">1990</a></li>
                                                <li><a href="#" id="1991">1991</a></li>
                                            </ul>
                                        </span></div>
                                </li>
                            </ul>
                        </span></div>
                </li>
            </ul>
        </div>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="waves-effect" href="/logout">Logout</a>
        </li>
    </ul>
    <a href="/#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>




    {{{body}}}




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>

    <script src="" async defer></script>
</body>

</html>