<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="./images/1963_Bazooka.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="./images/art_mahaffey_autograph.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="./images/bob_allison_autograph.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="./images/ernie_banks_autograph.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="./images/hank_aaron_autograph.jpg"></a>
</div>