<div class="row">
    <div class="greeting col s12 m10 l8 offset-m1 offset-l2 center-align z-depth-5">
        <div class="container">
            <h5>Welcome to Collect 'Em All, <strong><span class="member-name"></span></strong>. You've come to the right
                place to keep track
                of your collectible cards! Simply click on the green, blinking arrow on the left to view the sets that
                are
                currently available. Click on a specific set and you can begin keeping track of your collectible cards.
                Have
                fun!</h5>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="carousel col">
            <a class="carousel-item" href="#one!"><img src="./images/1963_Bazooka.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="./images/art_mahaffey_autograph.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="./images/bob_allison_autograph.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="./images/ernie_banks_autograph.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="./images/hank_aaron_autograph.jpg"></a>
        </div>
    </div>
</div>