form.signup,
form.login {
  margin-top: 50px;
}

/* nav {
  padding: 25px 0px 25px 0px;
} */

.brand-logo{
  font-family: 'Candal', sans-serif;
}

footer {
  position: fixed;
  bottom: 0px;
  padding: 0px;
  height: 30%;
  width: 100%;
}

.login-box{
  width: 50%;
}

.signup-box{
  width: 50%;
}