form.signup,
form.login {
  margin-top: 50px;
}

/* nav {
  padding: 25px 0px 25px 0px;
} */

.brand-logo{
  font-family: 'Candal', sans-serif;
}

footer {
  position: fixed;
  bottom: 0px;
  padding: 0px;
  height: 27%;
  width: 100%;
}

.login-box{
  width: 50%;
}

.signup-box{
  width: 50%;
}

.appLogo{
  position: relative;
  top: 5px;
  right: 2.5px;
}

.sidenav-trigger{
  position: relative;
  top: 5px;
  left: 5px;
}

#makePDF{
  padding: 20px;
}